
input {
  width: 80%;
  padding-right: 10%;
  font-size: 36px;
  text-align: center;
  margin: 10px;
}

button {
  width: 200px;
  background-color: black;
  color: white;
  height: 50px;
  font-size: 24px;
  border-radius: 25px;
  outline: none;
}

